@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";

@theme {
    --font-cursiva: "Pacifico", serif; 
    --color-primary: #F2C55E;
    --color-secondary: #76BA53;
    --color-terciary: #44A2C6;
    --color-quaternary: #FFFEF8;
  }
